<div class="col-md-12 profile" style="padding: 0px;" id="socialrecord">
    			<div class="box" style="height:88vh;border-right:solid 1px grey; ">
                    <div class="box-header with-border text-center">

                      <h3 class="box-title" style="padding:10px 0px; border-collapse: collapse;">Social History Record</h3>
                      <div class="box-tools pull-right">
                        <button type="button" class="btn btn-box-tool exit" data-widget="remove"><i class="fa fa-times"></i></button>
                      </div>
                        <div class="row" style="width: 100%; margin:0px; min-height: 15px; height: auto;">
    						<button class="btn btn-flat" style="position: relative;float: right;">></button>
    							<a href="" ><h5 style="position: relative;float: right;color: black; margin-right: 25px;">Edit Record</h5></a>             
    				    </div>
                       
                    </div>
                    <!-- /.box-header -->
                    <div class="box-body scrollbar" id="style-1" style="height:77vh; overflow-y:auto;overflow-x:hidden;">
                      <form role="form">
                        <div class="box-body">
    						<div class="col-md-12">
    						
    							<section class="invoice" style="min-height:75vh; padding-right: 0 auto; padding-left: 0 auto; margin:15px; box-shadow: 0 9px 0px 0px white, 0 -9px 0px 0px white, 0px 0 15px -4px rgba(0, 0, 0, 0.8), 0px 0 15px -4px rgba(0, 0, 0, 0.8);">
    							  <!-- title row -->
    							  <div class="row">
    								<div class="col-xs-12">
    								  <h2 class="page-header">
    									<i class="fa fa-globe"></i> Patient Name
    								  </h2>
    								</div>
    								<!-- /.col -->
    							  </div>
    							 	
    							  <!-- info row -->
    							  <div class="row invoice-info">
    								<div class="col-sm-12 invoice-col">
    									<h4>Condition:</h4>
                                        <p>Migranes</p>
                                        <h4>Frequency:</h4>
                                        <p> Twice a week</p>
                                        <h4>Onset:</h4>
                                        <p>Lorem Ipsum is simply dummy text of</p>
    									<h4>Discription:</h4>
    									<p>
    										Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
    									</p>
    								</div>
    								<!-- /.col -->

    								
    							  </div>
    							  <!-- /.row -->

    							  <!-- this row will not appear when printing -->
    							  <div class="row no-print">
    								<div class="col-xs-12">
    								  <a href="invoice-print.html" target="_blank" class="btn btn-default"><i class="fa fa-print"></i> Print</a>
    								  
    								 
    								</div>
    							  </div>
    							</section>
    						</div>
    							<!-- /.col -->
                          
                        </div>
                        <!-- /.box-body -->

                        <div class="box-footer">
                          
                        </div>
                      </form>
                      
                    </div>
                    <!-- /.box-body -->
                    
                    <!-- /.box-footer -->
                </div>

            </div>	
    		<!-- /.col -->