<!-- Drug profile -->
    		<div class="col-md-12 drugProfile" style="padding: 0px;" id="drugProfile">
    			<div class="box" style="height:88vh;border-right:solid 1px grey; ">
                    <div class="box-header with-border text-center">

                      	<h3 class="box-title" style="padding:5px 0px; border-collapse: collapse;">Drug Profile</h3>
                      	<div class="box-tools pull-right">
                        	<button type="button" class="btn btn-box-tool exit" data-widget="remove"><i class="fa fa-times"></i></button>
                      	</div>
                       
                    </div>
                    <!-- /.box-header -->
                    <div class="box-body scrollbar" id="style-1" style="height:81vh; overflow-y:auto;overflow-x:hidden; padding-top: 25px;">
                      	<form role="form">
    	                    <div class="box-body">
    							<div class="col-md-12">
    								<section class="invoice" style="box-shadow: 0 9px 0px 0px white, 0 -9px 0px 0px white, 0px 0 15px -4px rgba(0, 0, 0, 0.8), 0px 0 15px -4px rgba(0, 0, 0, 0.8);"">
    								  	<!-- title row -->
    								  	<div class="row">
    										<div class="col-xs-12">
    										  <h2 class="page-header">
    											<i class="fa fa-globe"></i> Centra GP
    										  </h2>
    										</div>
    									<!-- /.col -->
    								  	</div>
    								
    								  	<!-- info row -->
    								  	<div class="row invoice-info">
    										<div class="col-sm-5 invoice-col">
    											<h4>Geneic Name:</h4>
    											<h5>Random Name</h5>
    											<h4>Dose<h4>
    											<h5>Random dose</h5>
    											<h4>Frequecy</h4>
    											<h5>3x/Day</h5>
    											<br/>
    											<h4>Start Date:</h4>
    											<h5>25-10-2015</h5>
    											<h4>End Date:</h4>
    											<h5>05-11-2015</h5>
    											<br/>
    											<h4>Repeat Prescription:</h4>
    											<h5>No</h5>
    											<h4>Prescriber:</h4>
    											<h5>Random Name</h5>
    											<br/>	
    										</div> 
    										<div class="col-sm-5 pull-right">
    											<h4>Status</h4>
    											<h5>Completed</h5>
    										<div>
    										</div>
    										<!-- /.col -->
    								  	</div>
    								  	<!-- /.row -->

    								  <!-- this row will not appear when printing -->
    								  <div class="row no-print">
    									<div class="col-xs-12">
    									  <a href="invoice-print.html" target="_blank" class="btn btn-default"><i class="fa fa-print"></i> Print</a>
    									  
    									 
    									</div>
    								  </div>
    								</section>
    							</div>
    								<!-- /.col -->
    	                      
    	                    </div>
    	                    <!-- /.box-body -->

    	                    <div class="box-footer">
    	                      
    	                    </div>
                      	</form>
                      
                    </div>
                    <!-- /.box-body -->
                    
                    <!-- /.box-footer -->
                </div>

            </div>	
    		<!-- /.col -->